<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--自定义配置节点-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <log4net debug="false">

    <!--日志基类配置-->
    <root>
      <!--只有在这个级别或之上的事件才会被记录--> 
      <level value="ALL"/>
      <appender-ref ref="INFORollingFileAppender" />
      <appender-ref ref="ERRORRollingFileAppender" />
    </root>

    <logger name="Assembly" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="AssemblyINFORollingFileAppender" />
    </logger>
    <!--组盘日志-->
    <!--appender负责写日志的组件-->
    <appender name="AssemblyINFORollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\iVaLonServiceLog\Assembly\INFO\" />
      <!--文件存在时，为true时延伸，false为覆盖-->
      <appendToFile value="true" />
      <!--基于日期格式文件名-->
      <rollingStyle value="Composite" />
      <!--设置文件名格式-->
      <param name="DatePattern" value="yyyyMMdd/yyyyMMddHH&quot;-INFO&quot;" />
      <!--备份log文件的个数最多数量-->  
      <maxSizeRollBackups value="-1" />
      <!--最大文件大小-->
      <maximumFileSize value="10MB" />
      <!--<param name="StaticLogFileName" value="false" />-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <!--<ConversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <!--appender负责写日志的组件-->
    <appender name="INFORollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:\logs\iVaLonService\INFO\" />
      <!--文件存在时，为true时延伸，false为覆盖-->
      <appendToFile value="true" />
      <!--基于日期格式文件名-->
      <!--<rollingStyle value="" />-->
      <!--设置文件名格式-->
      <param name="DatePattern" value="yyyyMMdd/yyyyMMddHH&quot;-INFO&quot;" />
      <!--备份log文件的个数最多数量-->  
      <maxSizeRollBackups value="20" />
      <!--最大文件大小-->
      <maximumFileSize value="2KB" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO" />
      </filter>
      <staticLogFileName value="false"/>  
      <layout type="log4net.Layout.PatternLayout">
        <!--<ConversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <appender name="ERRORRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:\logs\iVaLonService\ERROR\" />
      <!--文件存在时，为true时延伸，false为覆盖-->
      <appendToFile value="true" />
      <!--基于日期格式文件名-->
      <rollingStyle value="Date" />
      <!--设置文件名格式-->
      <param name="DatePattern" value="yyyy-MM-dd/yyyy-MM-dd-HH&quot;-ERROR.txt&quot;" />
      <!--备份log文件的个数最多数量-->  
      <maxSizeRollBackups value="-1" />
      <!--最大文件大小-->
      <maximumFileSize value="2MB" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
      <staticLogFileName value="false"/>  
      <layout type="log4net.Layout.PatternLayout">
        <!--<ConversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <appender name="DEBUGRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:\logs\iVaLonService\DEBUG\" />
      <!--文件存在时，为true时延伸，false为覆盖-->
      <appendToFile value="true" />
      <!--基于日期格式文件名-->
      <rollingStyle value="Date" />
      <!--设置文件名格式-->
      <param name="DatePattern" value="yyyy-MM-dd/yyyy-MM-dd-HH&quot;-ERROR.txt&quot;" />
      <!--备份log文件的个数最多数量-->  
      <maxSizeRollBackups value="-1" />
      <!--最大文件大小-->
      <maximumFileSize value="2MB" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="DEBUG"/>
      </filter>
      <staticLogFileName value="false"/>  
      <layout type="log4net.Layout.PatternLayout">
        <!--<ConversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <!--<logger name="LogHelper">-->
    <!--level value="ON,OFF,ERROR,ALL"-->
    <!--<level value="ALL" />
    </logger>-->
  </log4net>
</configuration>
